.todoadd
{
    margin-top: 1%;
    margin-bottom: 5%;
    
}
.todoadd input, .todoadd button{
    background-color: rgb(147, 185, 76);
    color: white;
    font-size:  15px;
    font-family: cursive;
    text-align: center;
    padding: 1%;
    border: solid 3px white;
} 
.todoadd input{
    margin: 2%;
}